<app-home></app-home>

<h3 class="mt-5 mb-3">Foglalások</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Név</th>
            <th>E-mail</th>
            <th>Jármű</th>
            <th>Tól</th>
            <th>Ig</th>
            <th>Műveletek</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let reservation of reservations">
            <td>{{reservation.name}}</td>
            <td>{{reservation.email}}</td>
            <td>{{reservation.car}}</td>
            <td> {{reservation.from}} </td>
            <td>{{reservation.to}}</td>
            <td>
                <button class="btn btn-sm btn-danger mx-1" (click)="deleteReservation(reservation.id)">Törlés</button>
                <button class="btn btn-sm btn-secondary mx-1" [routerLink]="['/edit', reservation.id]">Szerkesztés</button>
            </td>
        </tr>
    </tbody>
</table>

<ul *ngIf="reservations.length; else noReservation">

</ul>

<ng-template #noReservation>
    <p>Nincsenek foglalások.</p>
</ng-template>